.dimension {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.dimension__item {
	border: 1px solid #ccc;
	background: #e5e5e5;
	padding: 10px 30px 20px;
	margin-bottom: 20px;
}

.dimension__model {
	text-align: center;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
}

.dimension__img {
	margin-top: 10px;
	text-align: center;
	background: #e5e5e5;
}